.reminder-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .logout-button {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #ff6961;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin: 10px 0;
  }
  
  input[type="date"], textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  button {
    margin-left: 10px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  